body {
  /* background: #f1f1f1; */
  background: rgb(249, 233, 198);
  background: linear-gradient(
    77deg,
    rgba(249, 233, 198, 1) 0%,
    rgba(240, 222, 180, 1) 50%,
    rgba(227, 208, 165, 1) 100%
  );
}

h1 {
  position: absolute;
  font-family: "Fredoka One", cursive;
  width: 50%;
  text-align: center;
  height: 50px;
  font-size: 60px;
  margin: 0;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
h1.lose {
  color: crimson;
}
h1.win {
  color: green;
}
.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.scoreboard-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.scoreboard-container > div {
  font-family: "Fredoka One", cursive;
  width: 33%;
}

.scoreboard-container > div h2 {
  font-size: 50px;
  text-transform: uppercase;
  color: black;
}

.scoreboard-container > div .score {
  font-size: 150px;
  color: black;
}

.scoreboard-container .item2 {
  position: relative;
  height: 500px;
  width: 500px !important;
  max-width: 33%;
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.scoreboard-container .item2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.controller-container .rock {
  grid-area: rock;
  background: rgb(240, 59, 59);
  background: linear-gradient(
    77deg,
    rgba(240, 59, 59, 1) 0%,
    rgba(251, 0, 0, 1) 50%,
    rgba(194, 5, 5, 1) 100%
  );
}
.controller-container .paper {
  grid-area: paper;
  background: rgb(28, 105, 236);
  background: linear-gradient(
    77deg,
    rgba(28, 105, 236, 1) 0%,
    rgba(0, 93, 251, 1) 50%,
    rgba(6, 78, 199, 1) 100%
  );
}
.controller-container .scissors {
  grid-area: scissors;
  background: rgb(184, 38, 246);
  background: linear-gradient(
    77deg,
    rgba(184, 38, 246, 1) 0%,
    rgba(179, 0, 255, 1) 50%,
    rgba(149, 4, 210, 1) 100%
  );
}
.controller-container .reset {
  grid-area: reset;
  background: rgb(157, 157, 157);
  background: linear-gradient(
    77deg,
    rgba(157, 157, 157, 1) 0%,
    rgba(128, 128, 128, 1) 50%,
    rgba(103, 103, 103, 1) 100%
  );
}
.controller-container {
  display: grid;
  margin: 0 auto;
  grid-template-areas: "rock paper scissors reset";
  grid-gap: 60px;
  width: 65%;
}

.controller-container button {
  position: relative;
  font-family: "Fredoka One", cursive;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s;
}

.controller-container button:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.controller-container button:focus{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
}


.controller-container button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  opacity: 0.5;
  transition: all 0.3s;
  transform: rotate(-15deg) translate(-64px, 50px);
}

.controller-container button:hover::before {
  transform: rotate(-15deg) translate(-64px, -5px);
}

.controller-container button.disabled {
  opacity: 0.65;
}
